{% load static %}
<!DOCTYPE>
<html  lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-width=1">
<title>Focus</title>
<link type="text/css" href="{% static 'blog/stylesheet.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="images/jquery.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="bg-success">

<div class="container-fluid">
<div class="well well-lg">
    <div class="row">
		<div class="col-sm-3">
			<img src="{% static 'blog/images/logo2.png' %}" width="500px" height="90px">
		</div>
		<div class="col-sm-5"></div>
		<div class="col-sm-4">
			<!--<form action="search.php" class="form-inline input-group" align="center" style="padding-top:20px;">
				<input type="text" name="search_post" placeholder="Search" class="form-control">
				<div class="input-group-btn">
					<button type="submit button" name="search" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
				</div>
			</form>-->
		</div>
	</div>
</div>
    
  <div class="navbar navbar-inverse">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

           <span class="icon-bar"></span> 
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>  

        </button>
         
      </div>
           <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav"  style="font-size:35px;">
		<li><a href="#"><i>Home</i></a></li>
		<li><a href="#"><i>Mobiles</i></a></li>
		<li><a href="#"><i>Laptops</i></a></li>
		<li><a href="#"><i>Recharge</i></a></li>
		<li><a href="#"><i>Story/Poem</i></a></li>
              </ul>
     </div>


</div>

<div class="row">
<div class="col-sm-1">

</div>
<div class="col-sm-8">

{% for detail in detail_result1 %}

	<div class="panel panel-body">
		<h1><b><a href="">{{detail.fields.Post_name}}</a></b></h1>
		<p style="font-size:18px;">
			Posted By: {{detail.fields.Posted_by}}
		</p>
		<center><img src="{{detail.fields.Post_image.0.url}}" class="img-responsive img-thumbnail" style="height:200px"></center></br>
		<p>
			{{detail.fields.Post_details}}
		</p>
	</div>
	
{% endfor %}


</div>
<div class="col-sm-3">
	<div class="jumbotron" style="background-color:darkblue;">
		<center>
			<form method="post" action="" class="form-horizontal">
				<label for="email"><p><b style="color:white;">Subscribe Our Newsletters</b></p></label>
				<input type="text" name="email" class="form-control"  placeholder="Enter your Email"></br>
				<button type="submit button" name="submit" class="btn btn-success">Subscribe</button>	
			</form>
		</center>	</br>
	</div>

	<div class="panel panel-primary">

		<div class="panel-heading" align="center">
			<h1>Recent posts</h1>

		</div>
		{% for detail in detail_result %}
		<div class="panel-body">
			<p><b><a>{{detail.fields.Post_name}}</a></b></p><br>
			<center><img src="{{detail.fields.Post_image.0.url}}" class="img-responsive img-thumbnail" style="height:100px"></center>
		</div>
		{% endfor %}
	</div>   
	   

</div>



</div>

<div class="jumbotron">
 <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      
 	<h2 style="text-align:center;">Contact Us</h2>
     <p style="text-align:center;"><b>+91-98640-11111</b><br>
Rangia , Kamrup<br>
Assam , 781381 <br>
contact@pagalblog.com</p>
    </div>
    <div class="col-sm-3">
      <h2 style="text-align:center;">Connect With Us</h2>
   <ul id="connect">
<li><a href="#"><img class="img-responsive" src="http://www.w3newbie.com/wp-content/uploads/facebook1.png" </a>   </li>
<li><a href="#"><img class="img-responsive" src="http://www.w3newbie.com/wp-content/uploads/googleplus.png" </a>   </li>
<li><a href="#"><img class="img-responsive" src="http://www.w3newbie.com/wp-content/uploads/twitter1.png" </a>   </li>
<li><a href="#"><img class="img-responsive" src="http://www.w3newbie.com/wp-content/uploads/youtube1.png" </a>   </li>
</ul>

    </div>
    <div class="col-sm-3"></div>
 </div>
</div>

</div>

</body>
</html>